input{
    padding: 10px;
}

.bttn{
    padding: 10px;
    background-color: #04AA6D;
    border-radius: 5px;
}

body{
    background-color: #eeffe6;
}

table{
    padding: 10px;
}

.bttn1{
    
}
          /* add background */
.hero-section{
    width:100%;
    height: 500px;
    margin-top: 5px;
    margin-bottom: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url('../image/plan.jpeg');
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.hero-section-1{
    width:100%;
    height: 500px;
    margin-top: 5px;
    margin-bottom: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url('../image/air.jpg');
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px
}



         /* footer css code */       
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    
}



.row{
    width: 100%;
    display: flex;
    padding: 10px 6vw;
    /* justify-content: center; */
    
}

.footer-clean {
    padding: 50px 0px;
    background-color: #2A2A2A;
    color: #FFFFFF;
    width: 100%;
    height: 200px;
}

.footer-clean .item{
    padding-left: 100px;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
    margin-right: 100px ;
    margin-top: 30px;
  
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}




@media screen and (max-width: 700px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}




@media screen and (max-width: 700px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

p {
    font-family: 'Itim', cursive;
    font-family: 'Redressed', cursive;
}

@media only screen and (max-width: 700px) {
    .row{
        width: 100%;
        display: block;
        padding: 10px 1vw;
        padding-right: 10px;
        
    }

    .footer {
        padding: 0px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    
    
    .footer-clean {
        padding: 10px 10px;
        background-color: #2A2A2A;
        color: #FFFFFF;
        width: 100%;
        height: auto;
    }
}
